# MARIADB CREDENTIALS
DB_NAME=your_db_name
DB_USER=your_username
DB_PASSWORD=your_password
DB_PASS_ROOT=your_password_root
DB_HOST=mariadb

# WORDPRESS CREDENTIALS
WP_URL=your_login.42.fr
WP_FULL_URL=http://your_login.42.fr
WP_TITLE=Inception
WP_ADMIN_USER=your_admin_user
WP_ADMIN_PASSWORD=your_admin_password
WP_ADMIN_EMAIL=admin@example.com
WP_USER=your_editor_user
WP_PASSWORD=your_user_password
WP_EMAIL=user@example.com
WP_ROLE=subscriber

# NGINX CREDENTIALS
