# MARIADB CREDENTIALS
DB_NAME=your_db_name
DB_USER=your_username
DB_HOST=mariadb

# WORDPRESS CREDENTIALS
WP_URL=your_login.42.fr
WP_FULL_URL=http://your_login.42.fr
WP_TITLE=Inception

# NGINX CREDENTIALS
CERT_FOLDER=/etc/nginx/certs/
CERTIFICATE=/etc/nginx/certs/certificate.crt
KEY=/etc/nginx/certs/certificate.key
COUNTRY=your_country
STATE=your_state
LOCALITY=your_locality
ORGANIZATION=42
UNIT=42
COMMON_NAME=your_login.42.fr